*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

header a{
    color: orangered;
    text-decoration: none;
    margin-right: 2rem;
    
}

.left_side{
    display: flex;
    align-items: center;
}

.right_side{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left_side h2{
    color: orangered;
}

header img{
    width: 5rem;
    height: 5rem;
}  

.about_us h2, .team h2{
    margin-bottom: 2rem;
    text-align: center;
    color: navy;
    font-size: xx-large;
}

.about_us{
    margin: 3.5rem;
}

.about_us p{
    margin-top: 0.5rem;

}

.images{
   display: flex;
   justify-content: space-around;
}

.images img{
    height: 20rem;
}

.one, .two, .three{
    text-align: center;
}

.kiosk img{
    width: 20rem;
}

.kiosk{
    display: flex;
    align-items: center;
    gap: 10rem;
    text-align: center;
    color: white;
    flex-direction: row-reverse;
    background: url(./assets/Landing\ image\ -\ ANZEL.jpg);
}

.para{
    width: 60%;
    height: 90%;
    padding: 1rem;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.p_one {
    text-align: justify;
    align-self: self-start;
    width: 30%;
}

.p_two {
    text-align: justify;
    width: 45%;
    align-self: self-end;
}

hr.last{
    border-top: 10px double navy;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}

hr{
    border-top: 10px double navy;
}

.paras{
    color: navy;
    font-size: x-large;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about_us h2{
    color: orangered;
}

.paras p{
    width: 60%;
    align-self: center;
}

.team{
    color: white;
    background-image: url(./assets/Landing\ image\ -\ ANZEL.jpg);
}

.siwes_home{
    background-color: orangered;
    color: white;
    border-radius: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.team h2{
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    color: orangered;
}

@media screen and (max-width: 885px){
    header a {
        margin-right: 1rem;
    }

    .left_side h2{
        font-size: 16px; 
    }

    .siwes_home{
        padding: 0.2rem;
    }

    header a{
        font-size: 12px; 
    }

    .right_side{
        display: block;
    }

    header{
        gap: 2rem;
    }

    .kiosk img{
        width: 15rem;
    }

    .para{
        display: flex;
        gap: 2rem;
        width: auto;
    }

    .p_one, .p_two{
        width: auto;
        font-size: small;
    }

    .kiosk{
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .about_us{
        margin: 2rem 0.2rem;
    }

    .about_us h2{
        margin-bottom: 0.5rem;
    }

    .paras p{
        width: 85%;
    }

    .paras{
        font-size: larger;
        gap: 1rem;
    }

    .team h2{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .images{
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .one, .two, .three{
        margin-bottom: 1rem;
    }

    footer{
        display: flex;
        justify-content: center;
        color: orangered;
    }
}


